.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
*.md
!README.md
pdf_full_markdown.md
GITHUB_BUILD.md
SETUP.md
*.aux
node_modules/**
.git/**
*.vsix
build.bat
